﻿/* DEFAULTS
----------------------------------------------------------*/
        
.form_caja
{
    float:left;
    width: 800px;
    padding-top: 4px;
    padding-bottom: 10px;
    margin: 0 auto 20px auto;
    background-color: #323232;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    padding:1px;
}
        
        
.headbg
{
    background-image:url('Imgs/bg_pattern.png');
}
        
.ui-widget-header
{
    background-color: #323232;
    background-image:url('Imgs/bg_pattern.png');
    background-repeat:repeat;
}
    
.ui-state-active
{
    background-color: #3b3d3c;
    color:White;
}
    
.ui-state-default
{
    background-image:url('Imgs/bg_pattern.png');
    color:White;
    background-repeat:repeat;
}
        
.ui-tabs-anchor
{
    background-color:White;
}
    
.ui-datepicker-title
{
    color:White;
}
        
a
{
    text-decoration:none;
    border:0px;
}
        
a:hover
{
    text-decoration:none;
    border:0px;
}
        
a:active
{
    text-decoration:none;
    border:0px;
}