﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TestUserControl.ascx.cs" Inherits="Insigte.UserControls.TestUserControl" %>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<asp:Label runat="server" ID="lb" Visible="false" Text="omfg" Font-Names="Arial" Font-Size="12px"></asp:Label>
    <center>
        <asp:Chart runat="server" ID="ChartNN" Visible="false" Width="780px" Height="300px" Palette="Fire">
            <Series>
                <asp:Series Name="Series1">
                </asp:Series>
            </Series>
            <ChartAreas>
                <asp:ChartArea Name="ChartArea1">
                </asp:ChartArea>
            </ChartAreas>
        </asp:Chart>

        <asp:Chart runat="server" ID="Chart1" Width="175px" Height="175px" Palette="Fire" Enabled="true">
            <Series>
                <asp:Series Name="Series1">
                </asp:Series>
            </Series>
            <ChartAreas>
                <asp:ChartArea Name="ChartArea1">
                </asp:ChartArea>
            </ChartAreas>
        </asp:Chart>